
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Feed Finder</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/jquery.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/underscore.js" type="text/javascript"></script>
	<script src="/static/backbone/backbone.js" type="text/javascript"></script>
	<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>

	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="javascript:void()">Feed Finder</a>
				
				<ul class="nav pull-right">
                      <li><a href="/home" href="javascript:void(0)">Home</a></li>
                </ul>
			</div>
		</div>
	</div>
	<div class="container main">
		<div class="row">
			<div id="sidebar" class="span3 sidebar-history">
				
			</div>
			<div class="span6">
				<div id="container">
					<div class="span5" id="infocontainer">
						<ul class="unstyled" id="profile">
							<li id="sirgino">
								<div class="row-fluid">
									
									<div class="span12 forintro">
										<h2>Meet The Team</h2>
										
										<p>Behind the creation of this Web Application are people who dedicated their time to study and learn new things in Software Engineering.
										<br/>
										<br/>
										<b>The Team believes in what George Herman Ruth, Jr. once said:</b>
										<br/>
										<i>"The way a team plays as a whole determines its success. You may have the greatest bunch of individual stars in the world, but if they don't play together, the club won't be worth a dime."</i>
										<br/>
										<br/>
										<br/>Also with them is their instructor, <b>Engr. Gino tria</b> who played with them and helped made the team and this application worth a dime.
										<br/>
										</p>
										<img src="/static/images/sirgino.PNG"/>
										

									</div>
								</div>
							</li>
							<li id="sonny">
								<div class="row-fluid">
									<div class="span3 forimg">
										<img src="/static/images/sonny.PNG">
									</div>
									<div class="span9 fortxt">
										<h2>Sonny S. Aurellano</h2>
										<h3>Creative Designer</h3>
										<h5>Facebook: <a href="https://www.facebook.com/saniorange">facebook.com/saniorange</a></h5>
										<h5>Twitter: <a href="http://twitter.com/iamsonnyorange">@iamsonnyorange</a></h5>
										<h5>Gmail: <a class="label label-inverse">sonnysaureallano@gmail.com</a></h5>
										<p>Sonny works silently in the team, though he is not a silent person. He loves learning from other people. He loves asking a lot. He seldomly gives an update but the output of his every tasks is surprising.<br/><br/>
										In all programming languages, he considers PHP as his native language.<br/><br/>
										<i>"When you want something you've never had, you have to do something you've never done."</i> It his motto and he lives with it.</p>

									</div>
								</div>
							</li>
							<li id="meldy">
								<div class="row-fluid">
									<div class="span3 forimg">
										<img src="/static/images/meldy.PNG">
									</div>
									<div class="span9 fortxt">
										<h2>Meldy C. Garcia</h2>
										<h3>Web Developer</h3>
										<h5>Facebook: <a href="https://www.facebook.com/meldytah">facebook.com/meldytah</a></h5>
										<h5>Twitter: <a href="http://twitter.com/meldytahq">@meldytahq</a></h5>
										<h5>Gmail: <a class="label label-inverse">ydlema@gmail.com</a></h5>
										<p>Meldy is undoubtedly more than just a pretty face. She might be your not "just okey" type of girl because she herself is not a mediocre. She doesn't feel comfortable if the product does not fit her taste-- she'll suggest something, she'll add another and she'll change it.</br></br>
										You probably love Javascript while she has an other approach. She is an experienced Ruby on Rails developer.<br/><br/>
										<i>"Do your best, and God will take care of the rest."</i> She lives on this saying.</p>

									</div>
								</div>
							</li>
							<li id="tophee">
								<div class="row-fluid">
									<div class="span3 forimg">
										<img src="/static/images/tophee.PNG">
									</div>
									<div class="span9 fortxt">
										<h2>Christopher C. Marquez</h2>
										<h3>Workflow and Creative Director</h3>
										<h5>Facebook: <a href="https://www.facebook.com/jasper.tophee">facebook.com/jasper.tophee</a></h5>
										<h5>Twitter:  <a href="http://twitter.com/akositophee">@akositophee</a></h5>
										<h5>Gmail: <a class="label label-inverse">christopher.marquez1004@gmail.com</a></h5>
										<p>Christopher a.k.a Tophee might be an extrovert but when it's work, it's work. He always wants to learn something new by experience. He works slowly but surely. He analyzes things first before making a decision.<br/><br/>
										He has acquired a lot of knowledge in his field of study but Web development is his and will always be his strong point.<br/><br/>
										<i>Keep calm and do not worry.</i> This is his mantra.</p>

									</div>
								</div>
							</li>
							<li id="jhena">
								<div class="row-fluid">
									<div class="span3 forimg">
										<img src="/static/images/jhena.PNG">
									</div>
									<div class="span9 fortxt">
										<h2>Jhena Marie G. Santos</h2>
										<h3>Team Manager</h3>
										<h5>Facebook: <a href="https://www.facebook.com/jhena.santos">facebook.com/jhena.santos</a></h5>
										<h5>Twitter: <a href="http://twitter.com/justjhena">@justjhena</a></h5>
										<h5>Gmail: <a class="label label-inverse">jhenasantos@gmail.com</a></h5>
										<p>Jhena keeps everything in the team balanced, organized and properly coordinated. She is the ACCESS Business Manager and the managing skills she has been acquiring is also applied for the betterment of the team performances.<br/><br/>
										She is also good in Database Management as good as she manages the team.<br/><br/>
										<i>"Do your best in the voyage of life and God will do the rest."</i> This is her motto.</p>

									</div>
								</div>
							</li>
							<li id="sheila">
								<div class="row-fluid">
									<div class="span3 forimg">
										<img src="/static/images/she.PNG">
									</div>
									<div class="span9 fortxt">
										<h2>Sheila B. Yulo</h2>
										<h3>Creative Designer</h3>
										<h5>Facebook: <a href="https://www.facebook.com/sheila.yulo.5">facebook.com/sheila.yulo.5</a></h5>
										<h5>Twitter: <a href="http://twitter.com/">@none</a></h5>
										<h5>Gmail: <a class="label label-inverse">sheila.yulo08@gmail.com</a></h5>
										<p>Sheila is the sweetest in the team and the most willing to learn. If she did not know how to do the work given to her, she'll find ways to know it. She's a fast learner and with total appreciation for new learning.<br/><br/>
										She is an experienced Web Developer using Imperia.</br/><br/>
										She believes that she can do all thing through Christ who strengthens her.</p>

									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="span5" id="teamcontainer">
						<input id="sonnypic" type="button" onClick="sonny()"/>
						<input id="meldypic" type="button"/>
						<input id="topheepic" type="button"/>
						<input id="jhenapic" type="button"/>
						<input id="shepic" type="button"/>
					</div>
				</div>
				
				<div id="footerpre">
					<span>Feed Finder 2012 Aurellano || Garcia || Marquez || Santos || Yulo</span>
				</div>
				
			</div>
			
		</div>

	</div>
	<script>

		$("#sirgino").fadeIn(2000);
	
		$("#sonnypic").click(function() {
			
			$("#sonny").siblings().hide();
			$("#sonny").fadeIn(2000);
			$(".fortext").css('background', 'rgba(0, 0, 0, 0.6)');
		});
		
		$("#meldypic").click(function() {
			
			$("#meldy").siblings().hide();
			$("#meldy").fadeIn(2000);
			
		});
		
		$("#topheepic").click(function() {
			
			$("#tophee").siblings().hide();
			$("#tophee").fadeIn(2000);
		});
		
		$("#jhenapic").click(function() {
			$("#jhena").siblings().hide();
			$("#jhena").fadeIn(2000);
		});
		
		$("#shepic").click(function() {
			$("#sheila").siblings().hide();
			$("#sheila").fadeIn(2000);
		});
			
	</script>

</body>
</html>